<div class="row greeting-page">
  <div class="columns small-8 text-center greeting">
    <div class="secondary">Welcome to Bookkeeper!</div>
    <div class="secondary">Make an account or <%= link_to 'sign in', new_user_session_path %> to get started.</div>
  </div>

  <div class="columns small-4 text-center signup">
    <h2 class="banner">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

      <%= f.label :business_name %>
      <%= f.text_field :business_name, autofocus: true, autocomplete: "business_name" %>

      <%= f.label :address %>
      <%= f.text_field :address, autofocus: true, autocomplete: "address" %>

      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>
