<div class='row column text-center'>
  <h2 class='banner'>Forgot your password?</h2>
<div class="line"></div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <%= f.submit "Send me reset password instructions" %>
  <% end %>
  <div class="line"></div>
  <div class="actions">
    <%= render "devise/shared/links" %>
  </div>
</div>
